OPENSKY_CLIENT_ID=your_client_id
OPENSKY_CLIENT_SECRET=your_client_secret
DATALASTIC_KEY=your_api_key

DB_HOST=postgres
DB_PORT=5432
DB_NAME=traffic
DB_USER=postgres
DB_PASSWORD=postgres

INGESTION_INTERVAL=60
HISTORY_DAYS=7
API_PORT=8000
